@import 'home';
@import 'about';
@import 'contact';
@import 'portfolio';

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5em;
	color: set-text-color($nightBlue-100);
	background: $nightBlue-100;
	font-size: 1.2em;
	font-family: $Qs;

	a {
		margin-top: 0.5em;
		text-decoration: none;
		padding: 0.5em 1.2em;
		border-radius: 5px;
		background: $beige-100;
		font-family: $Qs;
		color: rgb(66, 66, 66);
		transition: 0.25s;

		&:hover {
			font-weight: 600;
			transform: scale(1.05);
		}
	}
}
